/* Reset some default styles */
body, h1, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex; /* Center align the entire content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align to the top */
  min-height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  padding-top: 20px; /* Add padding to the top */
}

/* Form styles */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  width: 200px;

}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
  margin-bottom: 20px;
}


/* Green "Add" button */
button.add-button[type="submit"] {
  padding: 10px 20px; /* Maintain the same padding */
  background-color: #4CAF50; /* Green color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Task List Container */
.task-list-container {
  width: 100%; /* Take full width of its parent */
  max-width: 400px; /* Limit the width to improve readability */
}

/* To-Do List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to left and right */
  margin-bottom: 10px;
  background-color: #fff; /* Add a white background */
  border: 1px solid #ddd; /* Add a light border */
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Align checkbox and task text to the left */
input[type="checkbox"] {
  margin-right: 10px;
}

/* Strikethrough effect for completed tasks */
.done {
  text-decoration: line-through;
  color: #888;
}

/* Red "Delete" button */
form button.delete-button[type="submit"] {
  background-color: #e74c3c; /* Red color */
  color: #fff;
  padding: 10px 20px; /* Maintain the same padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.tabs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

.dataTable td, .dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataTable tr:nth-child(even){background-color: #f2f2f2;}

.dataTable tr:hover {background-color: #ddd;}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.data_container{
  display: flex;
  align-items: center;
  gap:20px;
}