<h1>URLS</h1>
<form method="POST" action="/shorts">
  <input type="text" name="url" placeholder="Add url" />
  <button type="submit"  class="add-button">Add</button>
</form>
<table>
  <thead>
    <th>url</th>
    <th>visits</th>
    <th>created_time</th>
  </thead>
  <tbody>
    <% urls.forEach((el, index)=>{%>
      <tr class="task-list-container">
        <td><a href="/code/<%=el.id%>"><%= el.url%></a></td>
        <td><%= el.visits%></td>
        <td><%= el.created_time%></td>
      </tr>  
    <%});%>
  </tbody>
</table>
